<html>
<head>
  <title>Movies</title>
</head>
<body>
  <%- @movies.each do |movie| -%>
    <%= image_tag movie_thumbnail_url(movie, :small), :alt => movie.title, :width => '100' %>
  <%- end -%>
</body>
</html>
