body
  background-color: black
  margin: 0
  padding: 0
  overflow-x: hidden

img
  border: 0

.Wallpaper
  border: 0
  margin: 0
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -2
  opacity: 0.2

.MovieTileList
  position: relative

  .MovieTile
    overflow: hidden
    width: 100px
    height: 148px
    cursor: pointer

.MovieDetailView
  position: relative

  !margin = 20px
  !posterWidth = 300px

  h1
    color: #fff
    text-shadow: 2px 2px 5px #000
    font-family: "Lucida Grande"
    position: absolute
    top = !margin
    left = !margin * 2 + !posterWidth
    margin: 0
    white-space: nowrap
    / overflow: ellipsis

  .MoviePoster
    position: absolute
    top = !margin
    left = !margin
    width = !posterWidth

  .MovieDescription
    color: #fff
    text-shadow: 1px 1px 1px #000
    font-family: "Lucida Grande"
    position: absolute
    top = !margin * 3
    left = !margin * 2 + !posterWidth
    margin-right = !margin
